<div class="portfolioImgContent contenerDownAnim" ng-show="isPortfolio">
    <div class="category" ng-if="item === 1">
        <div class="picContent">
            <img ng-src={{dropboxBaseUrl+'pic1/1.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic1/4.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic1/2.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic1/5.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic1/6.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic1/3.jpg'}}>
        </div>
        <div class="closeBtn">
            <i class="fa fa-times" ng-click="portfolioClose()"></i>
        </div>
        <div class="textContent">
            <div class="textAdress">Szürcsölő</div>
            <div class="textDesc">A Szürcsölő Levesbár egy olyan étterem, amely négy ország tradicionális leveseit
                gyűjti össze, mint Franciaország, Olaszország, Oroszország és Magyarország.
            </div>
        </div>
    </div>
    <div class="category" ng-if="item === 2">
        <div class="picContent">
            <img ng-src={{dropboxBaseUrl+'pic2/1.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic2/2.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic2/3.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic2/4.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic2/5.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic2/6.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic2/7.jpg'}}>
        </div>
        <div class="closeBtn">
            <i class="fa fa-times" ng-click="portfolioClose()"></i>
        </div>
        <div class="textContent">
            <div class="textAdress">Vígszínház</div>
            <div class="textDesc">A Vígszínház logó, 2015-ös évadplakát <br>A revizor című színházi darab plakátja <br> A padlás című
                színházi darab plakátja.
            </div>
        </div>
    </div>
    <div class="category" ng-if="item === 3">
        <div class="picContent">
            <img ng-src={{dropboxBaseUrl+'pic3/9.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic3/2.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic3/3.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic3/4.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic3/5.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic3/6.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic3/7.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic3/8.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic3/1.jpg'}}>
        </div>
        <div class="closeBtn">
            <i class="fa fa-times" ng-click="portfolioClose()"></i>
        </div>
        <div class="textContent">
            <div class="textAdress">ROBIN COOK</div>
            <div class="textDesc">Robin Cook könyvek borítótervei.
            </div>
        </div>
    </div>

    <div class="category" ng-if="item === 4">
        <div class="picContent">
            <img ng-src={{dropboxBaseUrl+'pic4/1.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic4/2.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic4/3.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic4/4.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic4/5.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic4/6.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic4/7.jpg'}}>
        </div>
        <div class="closeBtn">
            <i class="fa fa-times" ng-click="portfolioClose()"></i>
        </div>
        <div class="textContent">
            <div class="textAdress">TERMOSZ</div>
            <div class="textDesc">A Termosz a Magyar Kultúrális Intézet közponja, amely Isztambulban egy hajón foglal helyet.
                <br>Az uszoda részlegében a falra híres magyar gyógyfürdők képeit vetítik fel, így egy különleges élménnyel kötik össze a magyar fürdők reklámját.
            </div>
        </div>
    </div>
    <div class="category" ng-if="item === 5">
        <div class="picContent">
            <img ng-src={{dropboxBaseUrl+'pic5/1.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic5/2.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic5/3.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic5/4.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic5/5.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic5/6.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic5/7.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic5/8.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic5/9.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic5/10.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic5/11.jpg'}}>
            <img ng-src={{dropboxBaseUrl+'pic5/12.jpg'}}>
        </div>
        <div class="closeBtn">
            <i class="fa fa-times" ng-click="portfolioClose()"></i>
        </div>
        <div class="textContent">
            <div class="textAdress">Graphis</div>
            <div class="textDesc">Graphis magazín címlap sorozat.
            </div>
        </div>
    </div>
</div>
<div class="portfolioBg"></div>
<div class="portfolio">

    <div class="portfolioContent">
        <h1>Portfolio</h1>
        <div class="portfolioThumbContent">
            <div class="portfolioThumbs" ng-click="picItems(1)">
                <img class="grayscale" ng-src="{{dropboxBaseUrl+'1_csik.jpg'}}">
            </div>
            <div class="portfolioThumbs" ng-click="picItems(2)">
                <img class="grayscale" ng-src={{dropboxBaseUrl+'2_csik.jpg'}}>
            </div>
            <div class="portfolioThumbs" ng-click="picItems(3)">
                <img class="grayscale" ng-src={{dropboxBaseUrl+'3_csik.jpg'}}>
            </div>
            <div class="portfolioThumbs" ng-click="picItems(4)">
                <img class="grayscale" ng-src={{dropboxBaseUrl+'4_csik.jpg'}}>
            </div>
            <div class="portfolioThumbs" ng-click="picItems(5)">
                <img class="grayscale" ng-src={{dropboxBaseUrl+'5_csik.jpg'}}>
            </div>
        </div>
    </div>
</div>
